.cardFirst{
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    #inputFirst{
        outline: none;
        border: 0px;
        padding: 12px;
        justify-content: space-around;
    }
    .iconArea{
        display: flex;
        justify-content:space-evenly;
        flex-grow: 0.25;
        padding: 8px;
    }
}