.displayCard{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    .MuiCard-root{
        width: 190px;
        margin: 20px;
    }
    .MuiCardContent-root{
        padding: 15px;
    }
    h4{
        display: flex;
        justify-content: flex-start;
    }
    p{
        display: flex;
        justify-content: flex-start;
    }
}