#f{
    color: #4285f4;
}
#u{
    color: #ea4335;
}
#n{
    color: #fbbc05;
}
#d{
    color: #4285f4;
}
#o{
    color: #34a853;
}
#o{
    color: rgb(234, 67, 53);
}
.logo{
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}